* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(17, 17, 17);
}

h1 {
  text-align: center;
  font-size: 4em;
  margin: 20px;
  color: white;
  text-shadow: 5px 5px 10px rgb(0, 0, 0);
}

input, button {
  border-radius: 10px;
}


fieldset {
  border-style: dashed;
  border-radius: 10px;
  margin: auto;
  padding: 8px 15px;
  width: 40%;
  height: auto;
  background-color: rgb(216, 156, 231);
  
}

.cont-form {
  text-align: center;
  padding: 10px 40px;
  margin: auto;
}

.form-body {
  margin: auto;
  padding: 20px;
}

input {
  border-style: none;
  background-color: rgb(216, 156, 231);
  border-bottom: ridge;
  font-size: 1.5em;
  width: 100%;
  height: 2em;
  align-items: baseline;
}

:focus {
  outline: 0;
}

#btLogin {
  border-style: none;
  background-color: rgb(241, 193, 253);
  border-bottom: ridge;
  padding: 8px 0px;
  width: 100%;
  font-size: 16pt;
  cursor: pointer;
}

#btLogin:hover {
  background-color: rgb(187, 87, 245);
}

#btPassword {
  border-style: none;
  background-color: rgb(216, 156, 231);
  padding: 8px 0px;
  width: 100%;
  font-size: 16pt;
  cursor: pointer;
  
}
section div {
  margin: 15px;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px 4px rgba(66, 66, 66, 0.596);
  margin: auto;
  align-items: center;
}